@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: #5f3dc4;
  --main-color-light-1: #7048e8;
  --main-color-light-2: #9775fa;
  --main-color-light-3: #b197fc;
  --color-dark: #212529;
  --color-light: #f9f9f9;
  --color-warning: #632424;
  --body-dark: #212529;
  --body-light: var(--main-color);
  --title-dark: rgba(0, 0, 0, 0.1);
  --title-light: rgba(255, 255, 255, 0.1);
  --list-dark-mode: #adb5bd;
  --list-header-dark: #868e96;
  --list-header-light: #e4e4e4
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: var(--color-light);
  display: grid;
  column-gap: 80px;
  grid:
    "title title title title" auto "... lists list ... " auto / 1fr minmax(
      100px,
      300px
    )
    minmax(250px, 500px) 1fr;
  position: relative;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.title {
  grid-area: title;
  text-align: center;
  font-size: calc(7vw + 18px);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  margin: -30px 0 48px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.all-lists {
  grid-area: lists;
  padding: 2rem;
}

.task-lists-title {
  margin-bottom: 24px;
  margin-left: -20px;
}

.task-lists {
  margin-bottom: 24px;
}

.task-list {
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 16px;
  list-style: circle;
  transition: 0.3s;
}

.task-list:hover {
  opacity: 0.7;
}

.task-list:last-of-type {
  margin-bottom: 0;
}

.active-list {
  font-weight: 800;
  letter-spacing: 1px;
  list-style: disc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.active-list::before{
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: white;
  left: -17px;
  top: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.active-list .delete-icon {
  width: 22px;
  height: 22px;
  transition: stroke 0.3s;
  -webkit-transition: stroke 0.3s;
  -moz-transition: stroke 0.3s;
  -ms-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
}

.active-list .delete-icon:hover {
  stroke: #7950f2;
}

form {
  display: flex;
}

.list-form {
  margin-left: -20px;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  outline: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  transition: 0.3s;
}

.btn.create:hover {
  opacity: 0.7;
}

.input-new {
  background-color: transparent;
  color: inherit;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  transition: 0.1s;
  order: 2;
}

.input-new.list {
  font-size: 1.1rem;
}

.input-new::placeholder {
  color: inherit;
  opacity: 0.7;
  transition: 0.2s;
  letter-spacing: 1px;
}

.input-new:focus {
  border-bottom-width: 2px;
}

.input-new:focus::placeholder {
  opacity: 0.2;
}

.todo-list {
  --spacer: 2rem;
  position: relative;
  grid-area: list;
  background-color: var(--color-light);
  color: var(--color-dark);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.todo-header {
  background-color: var(--list-header-light);
  padding: var(--spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.list-title {
  margin-right: 2rem;
}

.tasks-count {
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.todo-task {
  padding: 20px 0;
  font-size: 1.2rem;
  position: relative;
}

.todo-task:last-of-type {
  margin-bottom: 30px;
}

.todo-task label {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.todo-task::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: currentColor;
  opacity: 0.1;
}

.todo-task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--main-color);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background-color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.todo-task label::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  right: 0;
  left: 30px;
  top: 50%;
  height: 2px;
  transform: scaleX(0) translateY(50%);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
  -webkit-transition: transform 150ms ease-in-out;
  -moz-transition: transform 150ms ease-in-out;
  -ms-transition: transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  -webkit-transform: scaleX(0) translateY(50%);
  -moz-transform: scaleX(0) translateY(50%);
  -ms-transform: scaleX(0) translateY(50%);
  -o-transform: scaleX(0) translateY(50%);
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1) translateY(50%);
  -webkit-transform: scaleX(1) translateY(50%);
  -moz-transform: scaleX(1) translateY(50%);
  -ms-transform: scaleX(1) translateY(50%);
  -o-transform: scaleX(1) translateY(50%);
  transform-origin: left;
}

.create-new-task .btn.create {
  color: var(--main-color);
}

.delete-btns {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--color-light);
}

.btn.delete {
  opacity: 0.9;
  letter-spacing: 1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn.delete:hover {
  color: var(--main-color-light-3);
}

/* dark mode */
.dark-mode {
  position: absolute;
  top: 20px;
  right: 100px;
}

.dark-mode-input {
  visibility: hidden;
}

.dark-mode-label {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: #d3d3d3;
  background-color: var(--main-color-light-3);
  border-radius: 20px;
}

.dark-mode-circle {
  position: absolute;
  background-color: #ffffff;
  background-color: var(--main-color-light-1);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.4s;
}

.dark-mode-input:checked + .dark-mode-label {
  background-color: #ffffff;
}

.dark-mode-input:checked + .dark-mode-label .dark-mode-circle {
  left: calc(100% - 34px - 3px);
  background-color: #000000;
}
